<div class="reset-password form-wrap">
  <form action="#" class="reset-password__form form">
    <h2 class="form__title">Reset password</h2>
    <div class="input-box">
      <div class="icon icon_login"></div>
      <input 
        required 
        type="text" 
        name="loginForReset" 
        id="login-for-reset" 
        autocomplete="off"
      >
      <label for="login">Login</label>
    </div>
    <div class="input-box">
      <div class="icon icon_key"></div>
      <input 
        required 
        type="password" 
        name="secretWordForReset" 
        id="secret-word-for-reset" 
        autocomplete="off"
      >
      <label for="password">Secret word</label>
    </div>
    <div class="input-box">
      <div class="icon icon_password"></div>
      <input 
        required 
        data-for-validate="for-validate" 
        type="password" 
        name="resetPassword" 
        id="resetPassword" 
        autocomplete="off"
      >
      <label for="password">New password</label>
    </div>
    <button type="submit" class="submit-btn button" disabled>Reset password!</button>
    <!-- <p>Password is invalid!!</p>
    <p>Password reseted! Please, SIGN IN!</p>
    <p>Password or secret word doesn`t match!</p> -->
    <div class="link-box"><a href="" class="link" [routerLink]="['../sign-up']">Go to registration</a></div>
    <div class="link-box"><a href="" class="link" [routerLink]="['../sign-in']">Sign in</a></div>      
  </form>
</div>
