.reset-password  {
  position: relative;

  .input-box {
    .icon {
      &_login {
        background-image: url('../../assets/svg/mail.svg');
      }

      &_password {
        background-image: url('../../assets/svg/lock-closed.svg');
      }
      
      &_key {
        background-image: url('../../assets/svg/key.svg');
      }
    }
  }
}
